<main class='pwaSize fixed t-0 b-0 bg-white w-full HC overflowY'>
  <!-- <div class="container t-c">
      <div class="section">
          <div class="container" style="margin-left:auto;margin-right:auto"> 
              <p> <img src="../../../assets/images/logo.png" style="width:25%"> &nbsp; &nbsp;Hans Matrimony</p>
          </div>              
      </div>
  </div> -->
  <div class="container" style="width:80%">
    <div class="w-full" style="margin-left:auto;margin-right:auto">
      <form [formGroup]="FamilyDetails">
        <div class="row" style="margin-top:20px">
            <div class="col-md-12 text-center">
              <p>Multiple Pictures can be Uploaded</p>
        </div>
         </div>
        <div class="row"  style="margin-top:20px;    margin-right: 20px;">
           <div class="col-md-12 text-center">
              <img [src]="fullimgURL"  height="80" width="170" *ngIf="fullimgURL">
              <br>
            <div>
                <input #Fullfile type="file" id="Fullfile" accept='image/*' (change)="previewFull(Fullfile.files,0)"  />
              <label for="Fullfile">
              <i class="fa fa-plus-square-o square" aria-hidden="true" *ngIf="!Fullfile.value" ></i>
            </label>                   
            </div>
           </div>
        </div>
      <div class="row"  style="margin-top:20px;    margin-right: 26px;">
        <div class="col-4 text-center">
            <img [src]="imgURL"  height="80" width="170" *ngIf="imgURL">
            <br>
          <div>
              <input #dfile type="file" id="dfile" accept='image/*' (change)="preview(dfile.files,1)"  />
            <label for="dfile">
            <i class="fa fa-plus-square-o square" aria-hidden="true" *ngIf="!dfile.value"></i>
          </label>                   
          </div>
        </div>
        
        <div class="col-4 text-center">
            <img [src]="frontfile"  height="80" width="170" *ngIf="frontfile">
            <br>
          <div>
              <input #fontfile type="file" id="fontfile" accept='image/*' (change)="previewfront(fontfile.files,2)"  />
            <label for="fontfile">
            <i class="fa fa-plus-square-o square" aria-hidden="true" *ngIf="!fontfile.value"></i>
          </label>                   
          </div>
        </div>
        <div class="col-4 text-center">
            <img [src]="BackimgURL" height="80" width="170" *ngIf="BackimgURL">
            <br>
          <div>
              <input #backfile type="file" id="backfile" accept='image/*' (change)="previewBack(backfile.files,3)"  />
            <label for="backfile">
            <i class="fa fa-plus-square-o square" aria-hidden="true" *ngIf="!backfile.value"></i>
          </label>                   
          </div>
        </div>
      </div>
      <div sclass="row"  style="margin-top:20px; margin-bottom:20px">
          <div class="col-md-12 text-center">
            <button mat-raised-button color="warn" id="photoBtn" (click)="checkForPhoto()">Please Click to Proceed</button>
          </div>
       </div> 
    </form>
    </div>
    <ng-template #photoModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <button type="button" style="outline: none" class="close" aria-label="Close" (click)="Cross_click()">X
          </button>
        </div>
        <div class="modal-body">
            <p class="verifyHeader" style="font-size: 20px">You haven't uploaded any photo</p>
          <!-- <button mat-raised-button style="position: relative;top: 74px;
          left: 31%;" class="submitButton1" color="warn" (click)="Cross_click()">Choose photo</button>
          <button mat-raised-button class="submitButton1" color="warn" (click)="fifthStep(stepper)">Continue without Uploading</button>-->
          <button mat-raised-button color="accent" mat-btn (click)="fifthStep()">Continue without Uploading</button> 
          <button style="float:right" mat-raised-button color="warn" (click)="Cross_click()">Choose photo</button>
        </div>
    
    </ng-template>
        
</div>

<!-- <div class="section">
  <div style="margin-left:auto;margin-right:auto;display:flex;width: 80%;margin-top:30px" >
    <button class="btn btn-blue" style="margin-left:auto;margin-right:auto" type="button" (click)="skip()">Submit</button>
</div>
</div>
 -->
</main>

